:root {
  --border-color: rgb(220, 220, 220);
  --data-fontColor: rgb(150, 150, 150);
}

.titulo {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  font-style: oblique;
  margin-top: 20px;
}

.widget-card {
  margin: auto;
  margin-top: 40px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 6px 20px black;
  width: 250px;
  height: 220px;
  max-width: 500px;
  max-height: 700px;
  background-color: #fff;
  position: relative;
}

.formulario {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form h3 {
  font-size: 1.1rem;
  margin-top: 10px;
}

input {
  width: 100%;
  height: 35px;
  border: 2px var(--border-color) solid;
  border-radius: 5px;
  padding: 0 10px 0 10px;
}

.enviar-btn {
  margin-top: 10px;
  width: 100%;
  height: 35px;
  font-size: 1rem;
  font-weight: 600;
  background-color: rgb(132, 179, 249);
  border: 1px rgb(220, 220, 220) solid;
  border-radius: 8px;
}

.nombre{
  text-align: center;
  color: #bbb;
  position: absolute;
  bottom: 15px;
  font-size: 1rem;
  left: 0; right: 0;
}

.section-img {
  margin: auto;
  margin-top: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.sun {
  width: 300px;
  height: 300px;
  margin-top: -60px;
  z-index: -10;
}

.thunder {
  position: absolute;
  top: 17px;
  right: 16px;
}

.night {
  width: 85px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.cargando {
  color: var(--data-fontColor);
  font-size: 1.5rem;
  text-align: center;
  padding-top: 70px;
}

.error {
  color: var(--data-fontColor);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  padding-top: 60px;
}

.temperatura-resultados {
  width: 100%;
  padding-top: 5px;
  font-size: 1.05rem;
  font-weight: 500;
}

.clima-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.temperatura-resultados p {
  display: flex;
  justify-content: space-between;
}

.success {
  height: 350PX;
  transition: 1s;
}

@media (min-width: 720px) {
  .widget-card {
    width: 500px;
  }
  .clima-info {
    justify-content: center;
  }
  .thunder {
    top: 2px;
    right: 20%;
    width: 100px;
  }
  .night {
    top: -10px;
    left: 20%;
    width: 120px;
  }
}